.navContainer {
  background: white;
  border-bottom: 1px solid #eeeeee;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}

.logo {
  display: flex;
}

.logo a {
  color: #111111;
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: 500;
  margin-right: 20px;
  width: 150px;
}

.logo input {
  padding: 9px 14px;
  font-size: 1.6rem;
  border: 1px solid #dddddd;
  margin: 0;
  width: 400px;
}

nav a {
  margin-left: 20px;
  color: #111111;
  font-size: 1.6rem;
}

nav .createRecipe {
  background: @primaryLight;
  border: 1px solid @primaryDark;
  box-shadow: 0px 0.5px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 8px 14px;
  color: white;
  font-size: 1.6rem;
}
