.navContainer {
  background: white;
  border-bottom: 1px solid #EEEEEE;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}

.logo a {
  color: #111111;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-weight: 500;
}

nav {

}

nav a {
  margin-left: 20px;
  color: #111111;
  font-size: 1.6rem;
}

nav .createRecipe {
  background: #8B0000;
  border-radius: 5px;
  padding: 9px 14px;
  color: white;
}