.recipeContainer {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  background: white;
  padding: 50px;
  border: 1px solid #eeeeee;
  border-radius: 6px;
}

.recipeTitle {
  margin-bottom: 30px;
}

.recipeIngredients {
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 20px;
  background: #fffdfb;
  border: 1px solid #ca8f4c;
  border-radius: 6px;
  color: #a36d2f;
}

.recipeInstructions {
  line-height: 1.5;
  font-size: 1.8rem;
}

.recipeActions {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;

  button {
    width: 20%;
    margin-left: 20px;
    padding: 8px 14px;
  }

  .deleteBtn {
    background: #ffffff;
    border: 1px solid #dddddd;
    color: #111111;
    transition: background 0.2s ease;

    &:hover {
      background: #eeeeee;
    }
  }

  .updateBtn {
    background: @primaryLight;
    border: 1px solid @primaryDark;
    color: white;
  }
}
