.recipeContainer {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  background: white;
  padding: 50px;
  border: 1px solid #EEEEEE;
  border-radius: 6px;
}

.recipeTitle {
  margin-bottom: 30px;

  &:hover {
    text-decoration: none;
    color: #111111;
  }
}

.recipeIngredients {
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 20px;
  background: #fffdfb;
  border: 1px solid #ca8f4c;
  border-radius: 6px;
  color: #a36d2f;
}

.recipeInstructions {
  line-height: 1.5;
  font-size: 1.8rem;
}

.recipeActions {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;

  button {
    width: 25%;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #111111;
    margin-left: 20px;
  }

  .updateBtn {
    background: @primaryLight;
    border: 1px solid @primaryDark;
    color: white;
  }
}