html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
}
body {
  background-color: #FFFAFA;
}
.formContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.formWrapper {
  width: 450px;
  background: white;
  border: 1px solid #EEEEEE;
  padding: 50px 40px;
  border-radius: 8px;
}
h2.formTitle {
  font-size: 4rem;
  font-family: 'Playfair Display';
  margin-bottom: 15px;
  font-weight: 500;
}
p.formDesc {
  font-size: 2rem;
  line-height: 1.4;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 20px;
}
hr {
  height: 1px;
  background: #EEEEEE;
  border: none;
  margin-bottom: 30px;
}
label {
  font-size: 1.6rem;
  margin: 5px 0;
  display: inline-block;
}
input[type=text],
input[type=password],
input[type=email],
button {
  padding: 15px 20px;
  border: 1px solid #DDDDDD;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 6px;
  font-size: 1.6rem;
  box-shadow: 0px 0.5px 0px 0px rgba(0, 0, 0, 0.1);
}
input[type=text]:focus,
input[type=password]:focus {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #CCCCCC;
}
.authLink {
  font-size: 1.4rem;
  margin-top: 30px;
}
.authLink a {
  color: #b90808;
}
.authLink a:hover {
  text-decoration: underline;
}
button {
  margin-top: 20px;
  cursor: pointer;
  background: #b90808;
  border: 1px solid #8B0000;
  border-radius: 6px;
  color: white;
  font-size: 1.6rem;
  position: relative;
}
button:before {
  content: '\2192';
  position: absolute;
  right: 40px;
  opacity: 0;
  transition: all 0.2s ease;
}
button:hover:before {
  right: 30px;
  opacity: 1;
}
::placeholder {
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
}
.termsOfService {
  font-size: 1.4rem;
  line-height: 1.5;
}
.formErrors p {
  font-size: 1.6rem;
  margin: 10px 0;
  border-radius: 6px;
  color: #b90808;
}
.navContainer {
  background: white;
  border-bottom: 1px solid #EEEEEE;
}
.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
.logo {
  display: flex;
}
.logo a {
  color: #111111;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: 500;
  margin-right: 20px;
  width: 150px;
}
.logo input {
  padding: 9px 14px;
  font-size: 1.6rem;
  border: 1px solid #DDDDDD;
  margin: 0;
  width: 400px;
}
nav a {
  margin-left: 20px;
  color: #111111;
  font-size: 1.6rem;
}
nav .createRecipe {
  background: #b90808;
  border: 1px solid #8B0000;
  box-shadow: 0px 0.5px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 8px 14px;
  color: white;
  font-size: 1.6rem;
}
.categoryWrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.category {
  padding: 10px 15px 15px 15px;
  position: relative;
  cursor: pointer;
}
.category:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #b90808;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.14s ease-in;
}
.category:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}
.category a {
  font-size: 1.6rem;
}
.recipeCardContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}
.recipeCard {
  margin: 0 1% 30px 1%;
  background: white;
  padding: 50px;
  border: 1px solid #EEEEEE;
  border-radius: 6px;
}
.recipeTitle {
  font-family: 'Playfair Display';
  font-size: 6rem;
  margin-bottom: 10px;
  line-height: 1.1;
  color: #111111;
}
.recipeTitle:hover {
  color: #8B0000;
  text-decoration: underline;
}
.recipeSource {
  font-size: 2.2rem;
  margin: 15px 0;
}
.recipeIngredients {
  margin: 30px 0;
}
.recipeCategory {
  font-size: 1.6rem;
  padding: 9px 15px;
  background: white;
  border: 1px solid #EEEEEE;
  display: inline-block;
  border-radius: 6px;
  margin: 0 10px 10px 0;
}
.recipeNotFound {
  text-align: center;
  margin-top: 100px;
  font-size: 4rem;
  font-family: 'Playfair Display';
}
.recipeNotFound a {
  color: #8B0000;
}
.createRecipeContainer {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  background: white;
  padding: 50px;
  border: 1px solid #EEEEEE;
  border-radius: 6px;
}
.createRecipeTitle {
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 40px;
}
.recipeContainer {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  background: white;
  padding: 50px;
  border: 1px solid #EEEEEE;
  border-radius: 6px;
}
.recipeTitle {
  margin-bottom: 30px;
}
.recipeIngredients {
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 20px;
  background: #fffdfb;
  border: 1px solid #ca8f4c;
  border-radius: 6px;
  color: #a36d2f;
}
.recipeInstructions {
  line-height: 1.5;
  font-size: 1.8rem;
}
.recipeActions {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}
.recipeActions button {
  width: 20%;
  margin-left: 20px;
  padding: 8px 14px;
}
.recipeActions .deleteBtn {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  color: #111111;
  transition: background 0.2s ease;
}
.recipeActions .deleteBtn:hover {
  background: #EEEEEE;
}
.recipeActions .updateBtn {
  background: #b90808;
  border: 1px solid #8B0000;
  color: white;
}
